@model TechnicoRMP.WebApp.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
  

}


<div class="login-container">
    <div class="login-card">
        <h2 class="login-title">Login</h2>

        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div class="form-group">
             

                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary btn-block">Login</button>

            <p class="text-center mt-3">
                <a href="#">Register</a>
            </p>
        }
    </div>
</div>
