@using TechnicoRMP.Models
@{
    var user = ActiveUser.User;

    var loginVisiblity = true;
    var registerVisiblity = true;

    var userType = EnRoleType.None;

    if (user is not null)
    {
        loginVisiblity = false;
        registerVisiblity = false;

        userType = user.TypeOfUser;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechnicoRMP.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechnicoRMP.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a href="/" data-headlessui-state="">
                    <div class="logo-container">
                        <img src="@Url.Content("~/assets/img/technico.png")" alt="Technico Logo">
                    </div>
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                         @if (loginVisiblity)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                        @if (registerVisiblity)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(user is not null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PropertyItem" asp-action="GetPropertyItemByUserId"asp-route-id="@ActiveUser.User!.Id">Property Items</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Repairs Page</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                       
                        @if (user is not null)
                        {
                            <li class="nav-item d-flex align-items-center">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="GetProfile" asp-route-id="@ActiveUser.User!.Id">
                                    <img src="~/assets/img/userIcon.png" alt="User Avatar" class="rounded-circle" style="width: 28px; height: 28px;">
                                </a>
                            </li>
                            <li class="nav-item d-flex align-items-center">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="get" class="form-inline mb-0">
                                    <button type="submit" class="btn btn-link p-0" style="border: none; background: none; cursor: pointer;">
                                        <img src="~/assets/img/logoutIcon.png" alt="Logout Icon" class="rounded-circle" style="width: 28px; height: 28px; object-fit: cover;">
                                    </button>
                                </form>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
