@using TechnicoRMP.Models
@{
    var user = ActiveUser.User;

    var loginVisiblity = true;
    var registerVisiblity = true;

    var userType = EnRoleType.None;

    if (user is not null)
    {
        loginVisiblity = false;
        registerVisiblity = false;

        userType = user.TypeOfUser;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechnicoRMP.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="~/TechnicoRMP.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">
                    <div class="logo-container">
                        <img src="@Url.Content("~/assets/img/technico.png")" alt="Technico Logo" style="width: 150px;">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (loginVisiblity)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }

                        @if (registerVisiblity)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if(userType is EnRoleType.User)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-controller="PropertyItem"
                                   asp-action="GetPropertyItemByUserId">
                                    Property Items
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="PropertyRepairs" asp-action="GetRepairsByUserId" asp-route-id="@ActiveUser.User!.Id">Repairs Page</a>
                            </li>
                        }

                        @if (userType is EnRoleType.Admin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UsersManagment">Users Managment</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="PropertyItems">Property Items Managment</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Repairs">Repairs Managment</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Logs">Logs History</a>
                            </li>
                        }
                    </ul>

                    @if (user is not null)
                    {
                        <ul class="navbar-nav ms-auto d-flex align-items-center">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="GetProfile" asp-route-id="@ActiveUser.User!.Id">
                                    <img src="~/assets/img/userIcon.png" alt="User Avatar" class="rounded-circle" style="width: 28px; height: 28px;">
                                </a>
                            </li>
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="get" class="form-inline mb-0">
                                    <button type="submit" class="btn btn-link p-0" style="border: none; background: none;">
                                        <img src="~/assets/img/logoutIcon.png" alt="Logout Icon" class="rounded-circle" style="width: 28px; height: 28px;">
                                    </button>
                                </form>
                            </li>
                        </ul>
                    }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>