@using TechnicoRMP.Models
@model PropertyRepairViewModel

<h1>Edit Repair</h1>
<hr />

@{
    var errorMessage = TempData["errorMessage"] as string;
    var successMessage = TempData["successMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Date" class="control-label">Repair Date</label>
                <input asp-for="Date" class="form-control" type="date" required />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfRepair" class="control-label">Type of Repair</label>
                <select asp-for="TypeOfRepair" class="form-control">
                    <option value="">Select Repair Type</option>
                    @foreach (var repairType in Enum.GetValues(typeof(EnTypeOfRepair)))
                    {
                        <option value="@repairType">@repairType.ToString()</option>
                    }
                </select>
                <span asp-validation-for="TypeOfRepair" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label">Address</label>
                <input asp-for="Address" class="form-control" readonly />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Cost" class="control-label">Cost</label>
                <input asp-for="Cost" class="form-control" readonly />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RepairStatus" class="control-label">Repair Status</label>
                <select asp-for="RepairStatus" class="form-control" readonly>
                    <option value="">Select Repair Status</option>
                    @foreach (var repairStatus in Enum.GetValues(typeof(EnRepairStatus)))
                    {
                        <option value="@repairStatus">@repairStatus.ToString()</option>
                    }
                </select>
                <span asp-validation-for="RepairStatus" class="text-danger"></span>
            </div>

            <!-- Description Field -->
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter a brief description of the repair"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

          

            <input asp-for="UserId" type="hidden" />

            <div class="form-group">
                
                @if(ActiveUser.User.TypeOfUser == EnRoleType.Admin)
                {
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                    <a asp-controller="Admin" asp-action="Repairs" asp-route-id="@Model.Id" class="btn btn-secondary">
                        Back to Repairs Management
                    </a>
                }
                @if (ActiveUser.User.TypeOfUser == EnRoleType.User)
                {
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                    <a asp-controller="Repair" asp-action="GetRepairsByUserId" asp-route-id="@ActiveUser.User.Id" class="btn btn-secondary">
                        Back to My Repairs
                    </a>
                }
            </div>

        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}